<article class="prose lg:prose-xl"></article>
<div class="relative h-full pt-10">
  @if(!loading) {
    <top-bar class="opacity-80" [provider]="provider"/>
  }
  <div id="size" class="fixed bottom-4 left-4 h-10 leading-10 pointer-events-none"></div>
  <div class="h-full overflow-auto overscroll-none ctn flex flex-col px-4">
    <ng-milkdown-provider>
      @if(featureConfigs) {
        <ng-milkdown-crepe
          [(ngModel)]="value"
          [(loading)]="loading"
          (ngModelChange)="onChange($event)"
          [featureConfigs]="featureConfigs"
          [plugins]="plugins"
          [spinner]="spinner"
          (beforeReady)="beforeReady($event)"
          (onReady)="onReady($event)"
        />
      }
      <ng-template #spinner>
        <spinner/>
      </ng-template>
    </ng-milkdown-provider>
  </div>
</div>
