@for(line of buttons;track line){
  <div class="flex-1 flex w-64">
    @for(button of line;track button){
      <button
        [title]="button.title"
        class="flex-1 text-gray-600 text-xs bg-slate-200 px-2 py-1 hover:bg-slate-300 border border-b-blue-50 hover:text-gray-900"
        (mousedown)="mousedown($event, button.command)"
        (touchstart)="mousedown($event, button.command)"
      >
        <span class="material-symbols-outlined">{{ button.icon }}</span>
      </button>
    }
  </div>
}
