<div class="flex p-2 w-max flex-col" [hidden]="hidden">
  @if (isLink() || visible) {
    <div class="flex items-center flex-1">
      <div class="ml-2">
        @if (!visible) {
          <span>{{ form.getRawValue().title }}</span>
          <a class="ml-2 text-sm" [href]="form.getRawValue().href" target="_blank">
            <i title="修改链接标题" class="material-symbols-outlined"
               (click)="$event.preventDefault();visible = true">edit</i>
          </a>
        } @else {
          <form [formGroup]="form" class="inline-flex w-48">
            <div>
              <input class="w-full" formControlName="title" id="link-title"/>
              <input class="w-full" formControlName="href" id="link-href"/>
            </div>
            <div class="flex items-center w-full gap-2">
              <button size="small"
                      (click)="confirm($event)">
                <i title="确认修改链接标题" class="material-symbols-outlined">check</i>
              </button>
              <button size="small" (click)="$event.preventDefault();visible = false;">
                <i title="取消修改" class="material-symbols-outlined">close</i>
              </button>
            </div>
          </form>
        }
      </div>
      <a class="ml-2 text-sm" [href]="form.getRawValue().href" target="_blank">
        <i title="访问链接" class="material-symbols-outlined">open_in_new</i>
      </a>
    </div>
  }
  @for (line of buttons; track line) {
    <div class="gap-2 flex-1 flex items-center">
      @for (button of line; track button) {
        <button size="small" [title]="button.title"
                [class]="getClassList(button)"
                class="flex-1 text-gray-600 text-xs px-2 py-1 hover:shadow-slate-400 hover:bg-slate-400 bg-opacity-50 rounded-lg hover:text-gray-900"
                (mousedown)="mousedown($event, button)"
                (touchstart)="mousedown($event, button)">
          <span class="material-symbols-outlined">{{ button.icon }}</span>
        </button>
      }
    </div>
  }
</div>
