<div class="flex w-96 flex-col gap-2 rounded border-gray-300 bg-white p-4 shadow ring dark:border-gray-600 dark:bg-black">
  <label class="flex flex-row items-center justify-center gap-4">
    <span class="w-10">Link</span>
    <input
      type="text"
      class="mt-1 block w-full rounded-md bg-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200/50 dark:bg-gray-600"
      [(ngModel)]="src"
      (focus)="temp = src"
      (blur)="onChange('src', $event)"
    />
  </label>
  <label class="flex flex-row items-center justify-center gap-4">
    <span class="w-10">Alt</span>
    <input
      type="text"
      class="mt-1 block w-full rounded-md bg-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200/50 dark:bg-gray-600"
      [(ngModel)]="alt"
      (focus)="temp = alt"
      (blur)="onChange('alt', $event)"
    />
  </label>
  <label class="flex flex-row items-center justify-center gap-4">
    <span class="w-10">Title</span>
    <input
      type="text"
      class="mt-1 block w-full rounded-md bg-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200/50 dark:bg-gray-600"
      [(ngModel)]="title"
      (focus)="temp = title"
      (blur)="onChange('title', $event)"
    />
  </label>
</div>
