<article class="prose lg:prose-xl"></article>
<div class="relative h-full pt-10">
  @if (editor && !loading) {
    <top-bar class="opacity-80" [provider]="provider"/>
  }
  <div class="h-full overflow-auto overscroll-none ctn flex flex-col px-4">
    <ng-milkdown-provider #provider>
      <ng-milkdown
        [(ngModel)]="value"
        [(loading)]="loading"
        (ngModelChange)="onChange($event)"
        (onReady)="editor = $event"
        [spinner]="spinner"
      />
      <ng-template #spinner>
        <spinner/>
      </ng-template>
    </ng-milkdown-provider>
  </div>
</div>
