<ul class="m-0 w-96 list-none rounded bg-gray-50 shadow-lg ring-2 dark:bg-gray-900">
  @for (item of list;track item) {
    <li class="cursor-pointer px-6 py-3"
        [class]="selected === $index ? ['bg-gray-200', 'dark:bg-gray-500'] : []"
        (mousemove)="selected = $index"
        (mousedown)="action(onPick)"
        (touchstart)="selected = $index;action(onPick)"
    >
      <div class="flex items-center gap-2">
        <span class="material-symbols-outlined text-nord-10 dark:text-nord-9">{{ item.icon }}</span>
        <span>{{ item.label }}</span>
      </div>
    </li>
  }
</ul>
