/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

milkdown-code-block {
  --crepe-color-surface: #292A30!important;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}


.prose table {
  width: calc(100% - 2rem)!important;
}

li p {
  margin: 0!important;
  line-height: 1.5rem!important;
}
