/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

milkdown-code-block {
  --crepe-color-surface: #292A30 !important;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.prose table {
  width: calc(100% - 2rem) !important;
}

// 若是sm 或者 xs 就不显示
@media screen and (max-width: 640px) {
  .milkdown .ProseMirror {
    padding: 2rem !important;
  }
  .github-fork-ribbon {
    display: none;
  }
}

milkdown-image-inline {
  display: inline-block !important;
  vertical-align: bottom;
}

milkdown-image-inline > .image-inline {
  display: block;
  height: 100%;
  max-height: 40px;
}

milkdown-image-inline.selected > .image-inline {
  outline: 2px solid fuchsia;
  vertical-align: bottom;
}

milkdown-image-inline.selected > .empty-image-inline {
  outline: 2px solid fuchsia;
}

milkdown-image-inline > .empty-image-inline {
  align-items: center;
  padding: 0 8px;
  gap: 8px;
  background: oldlace;
  border-radius: 4px;
}

milkdown-image-inline > .empty-image-inline .image-icon {
  color: darkgray;
}

milkdown-image-inline > .empty-image-inline .image-icon svg {
  width: 24px;
  height: 24px;
}

milkdown-image-inline > .empty-image-inline .link-importer .placeholder {
  color: darkgray;
  font-size: 12px;
}

milkdown-image-inline > .empty-image-inline .link-importer .link-input-area {
  line-height: 16px;
  font-size: 12px;
  padding: 8px 0;
}

milkdown-image-inline > .empty-image-inline .link-importer .placeholder .uploader {
  gap: 8px;
  color: fuchsia;
  justify-content: center;
  transition: color 0.2s;
}

milkdown-image-inline > .empty-image-inline .link-importer.focus .placeholder .uploader {
  color: unset;
}

milkdown-image-inline > .empty-image-inline .link-importer .placeholder .uploader:hover {
  color: fuchsia;
}

milkdown-image-inline > .empty-image-inline .link-importer .placeholder .text {
  margin-left: 8px;
}

milkdown-image-inline > .empty-image-inline .confirm {
  background: darkgray;
  color: antiquewhite;
  line-height: 28px;
  padding: 0 12px;
  border-radius: 8px;
  font-size: 12px;
}

milkdown-image-inline {
  outline: none;
  display: inline;
}

milkdown-image-inline input {
  background: transparent;
  outline: none;
  border: 0;
}

milkdown-image-inline.empty {
  vertical-align: bottom;
}

milkdown-image-inline > .empty-image-inline {
  display: inline-flex;
}

milkdown-image-inline > .empty-image-inline .confirm {
  cursor: pointer;
}

milkdown-image-inline > .empty-image-inline .link-importer {
  position: relative;
  flex: 1;
}

milkdown-image-inline > .empty-image-inline .link-importer > .link-input-area {
  width: 208px;
}

milkdown-image-inline > .empty-image-inline .link-importer .placeholder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  cursor: text;
}

milkdown-image-inline > .empty-image-inline .link-importer .placeholder .uploader {
  cursor: pointer;
  display: flex;
}

milkdown-image-inline .hidden {
  display: none !important;
}

// scrollbar

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  width: 6px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

hr {
  padding: 20px 0!important;
  height: 41px!important;
}

.menu-groups{
  max-height: 50vh!important;
}

.iframe-plugin {
  display: block;
  aspect-ratio: 16 / 9;
  width: 100%;
  margin-top: 12px!important;
  margin-bottom: 12px!important;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border-width: 0 1px 1px;
  border-color: rgba(73, 78, 89, .1);
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
